body {
    background:lightpink;
    text-align: center;
}
h1 {
    text-align: center;
    color:navy;
}
h2 {
    text-align: center;
}
.about {
background-color:lightCyan;
}
.skills {
background-color:lightCyan;
    width: 500px;
    height: 500px; 
    margin: 10px;
    padding: 20px 10px;
    border: 2px solid;
    border-color: darkBlue;
    border-radius: 25%;
}
.problem_statement {
    background-color:lightCyan;
    width: 500px;
    height: 500px;
    margin: 10px;
    padding: 20px 10px;
    border-radius: 25%; 
    border: 2px solid;
    border-color: darkBlue;
}
.affinity_diagram {
    background-color:lightCyan;
    width: 500px;
    height: 500px;
    margin: 10px;
    padding: 20px 10px;
    border-radius: 25%; 
    border: 2px solid;
    border-color: darkBlue;
}
.project_management_4 {
    background-color:lightCyan;
    width: 500px;
    height: 500px;
    margin: 10px;
    padding: 20px 10px;
    border-radius: 25%; 
    border: 2px solid;
    border-color: darkBlue;
}
.contact {
background-color:lightCyan;
}
.resume {
    text-align: center;
}
