body {
    background-color:lightpink;
    text-align: center;
    padding: 20px 10px;
}
h2 {
    font-size: large;
}
.about {
    color: midnightblue;
    text-align:center;
}
.skills {
    background-color:lightCyan;
    width: 500px;
    height: 500px; 
    margin: 10px;
    padding: 20px 10px;
    border: 2px solid;
    border-radius: 25%;
    border-color: darkBlue;
    align-items: center;
}
.problem_statement {
    width: 500px;
    height: 500px;
    margin: 10px;
    padding: 20px 10px;
    border-radius: 25%; 
    border: 2px solid;
    border-color: darkBlue;    
    background-color:lightCyan;
    float: left;
}
.affinity_diagram {
    width: 500px;
    height: 500px;
    margin: 10px;
    padding: 20px 10px;
    border-radius: 25%; 
    border: 2px solid;
    border-color: darkBlue; 
    background-color:lightCyan;
    float: left;
}
.project_management_4 {
    width: 500px;
    height: 500px;
    margin: 10px;
    padding: 20px 10px;
    border-radius: 25%; 
    border: 2px solid;
    border-color: darkBlue;
    background-color:lightCyan;
    float: left;
}
.contact {
    color:midnightblue;
}