body {
    background:lightpink;
}
h1 {
    text-align: center;
    color:navy;
}
h2 {
    text-align: center;
    color: lightseagreen;
}
.about {
background-color:lightCyan;
}
.skills {
background-color:lightCyan;
}
.projects {
background-color:lightCyan;
}
.projects img {
    width: 300px;
    height: 300px;
    margin: 10px;
    padding: 20px 10px;
    border-radius: 25%;
    border: 2px solid;
    border-color: darkBlue;
    display: block;
    margin: auto;
}
.contact {
background-color:lightCyan;
}
