body {
    background-color:lightpink;
    text-align: center;
    padding: 20px 10px;
}
h1{
    font-size: xx-large;
    color: midnightblue;
}
h2 {
    font-size: x-large;
    color: midnightblue;

}
p {
    font-size: 15;
}
.about {
    color: midnightblue;
    text-align:center;
}
.skills {
    text-align: center;
    width: 500px;
    height: 500px;
    margin: 10px;
    padding: 20px 10px;
    border-radius: 25%; 
    border: 2px solid;
    border-color: midnightBlue;
    background-color:lightCyan;
}
.problem_statement {
    text-align: center;
    width: 500px;
    height: 500px;
    margin: 10px;
    padding: 20px 10px;
    border-radius: 25%; 
    border: 2px solid;
    border-color: midnightBlue;
    background-color:lightCyan;
    float: left;
}
.affinity_diagram {
    text-align: center;
    width: 500px;
    height: 500px;
    margin: 10px;
    padding: 20px 10px;
    border-radius: 25%; 
    border: 2px solid;
    border-color: midnightBlue;
    background-color:lightCyan;
    float: left;
}
.project_management_4 {
    text-align: center;
    width: 500px;
    height: 500px;
    margin: 10px;
    padding: 20px 10px;
    border-radius: 25%; 
    border: 2px solid;
    border-color: midnightBlue;
    background-color:lightCyan;
    float: left;
}
.adventure_game {
    text-align: center;
    width: 500px;
    height: 500px;
    margin: 10px;
    padding: 20px 10px;
    border-radius: 25%; 
    border: 2px solid;
    border-color: midnightBlue;
    background-color:lightCyan;
    float: left;
}
.rock_paper_scissors {
    text-align: center;
    width: 500px;
    height: 500px;
    margin: 10px;
    padding: 20px 10px;
    border-radius: 25%; 
    border: 2px solid;
    border-color: midnightBlue;
    background-color:lightCyan;
    float: left;
}
.contact {
    color:midnightblue;
}